.body{
    font:20px Arial, sans-serif;
}
.navbar{
    background-color: greenyellow;
}
.quem-somos{
    background-color: aqua;
    color: white;
}
.parceiros{
    background-color:red;
}
.bg-footer{
    background-color: black;
    color: white;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
